.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.imageWrapper {
  position: absolute; 
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  border-bottom-right-radius: 24px;
  overflow: auto;
  width: 240px;
  height: 474px;
  z-index: 10;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;  
  &.skeleton {
    background: var(--skeleton-gray);
  }
}

.name {
  margin-top: 20px;
  font-weight: 700;
  &.skeleton {
    width: 136px;
    height: 16px;
    border-radius: 8px;
    background: var(--skeleton-gray);
  }
}

.email {
  margin-top: 10px;
  font-size: 0.75rem;
  color: var(--text-secondary);
  &.skeleton {
    margin-top: 8px;
    height: 8px;
    width: 60px;
    border-radius: 4px;
    background: var(--skeleton-gray);
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.linkSkeleton {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 200px;
  height: 38px;
  border-radius: 6px;
  padding: 12px 14px;
  font-size: 0.625rem;
  background: var(--skeleton-gray);
  &:last-child {
    margin-bottom: 0px;
  }
}