version: "3.8"

services:
  db:
    image: mysql:8
    container_name: link-sharing-app-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: link-sharing-app
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
