body {
  background-color: var(--canvas);
  color: var(--text-primary);
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  max-width: 1400px;
}

main {
  height: calc(100vh - 64px - 40px);
  overflow: hidden;
}

/* CARDS -------------------------------------- */
.card {
  background-color: white;
  border-radius: 12px;
}

.card.left {  
  width: 40%;
  display: none;
}

.card.right {
  position: relative;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .card.left {
    display: block;
  }
  .card.right {
    width: 60%;
  }
}

/* BUTTONS -------------------------------------- */
a.button,
button {
  background: var(--dark-purple);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: bolder;
}

a.button.button-outlined,
button.button-outlined {
  background: inherit;
  border: 1px solid var(--dark-purple);
  color: var(--dark-purple);
  padding: 10px 22px;
  &:hover {
    background: var(--light-purple);
  }
}

a.button.button-light,
button.button-light {
  background: transparent;
  color: var(--text-secondary);
  &:hover {
    background: var(--hover-gray);
  }
  &.active {
    background: var(--light-purple);
    color: var(--dark-purple);
  }
}

/* FORMS -------------------------------------- */
label {
  margin-bottom: 6px;
  font-size: 10px;
  color: var(--text-secondary);
}

input,
textarea {
  background: var(--card);
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  color: var(--text-secondary);
  font-size: 0.875rem;
  padding: 10px 14px;
  height: 40px;
  width: 100%;
  &:focus {
    outline: none;
    border-color: var(--dark-purple);
    box-shadow: 0px 0px 10px 2px rgba(93, 61, 245, 0.25);
  }
}

select {
  /* -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none; */
  margin-bottom: 0.85rem; 
  background: var(--card);
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  color: var(--text-secondary);
  font-size: 0.875rem;
  padding: 10px 14px;
  height: 40px;
  width: 100%;
  &:focus {
    outline: none;
    border-color: var(--dark-purple);
    box-shadow: 0px 0px 10px 2px rgba(93, 61, 245, 0.25);
  }

}