.description {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.scrollArea {
  position: relative;
  background: var(--card);
}

.addButton {
  position: sticky;
  top: 0;
  margin: 1.25rem auto ;
  width: 100%;
  z-index: 10;
}
