:root {
	--font-family:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
  --color-canvas: #FAFAFA;
  --color-card: #FFFFFF;
  --color-text-primary: #333333;
  --color-text-secondary: #757575;
  --color-text-inverted: #FFFFFF;
  --color-text-disabled: #BDBDBD;
  --color-dark-purple: #5D3DF5;
  --color-light-purple: #EFECFD;
  --color-hover-gray: #F5F5F5;
  --color-skeleton-gray: #EEEEEE;
  --color-border-gray: #DFDFDF;
  --color-error-red: #FF6347;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-2-5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.5rem;
  --spacing-10: 3rem;

  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-full: 9999px;
}

html {
  font-family: var(--font-family);
  background-color: var(--color-canvas);
	color: var(--color-text-primary);
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

@media (min-width: 480px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}
