.header {
  width: 100%;
}

.outer {
  z-index: 100;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 100;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 14px 20px;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.25rem;
  & svg {
    margin-right: 0.25rem;
  }
}

@media (min-width: 640px) {
  .header .outer {
    padding: 20px;
  }
}